In [1]:
import pandas as pd
df = pd.read_csv('covid data.csv')
df

,INTUBED,PNEUMONIA,AGE,DIABETES,ASTHMA,CARDIOVASCULAR,OBESITY,TOBACCO,ICU,STATUS
0,97,1,72,2,2,2,1,2,97,Died
1,1,2,55,1,2,2,2,2,2,Died
2,97,2,68,1,2,2,2,2,97,Died
3,2,2,24,2,2,2,2,2,2,Cured
4,2,2,30,2,2,2,2,2,2,Cured
...,...,...,...,...,...,...,...,...,...,...
523506,97,2,40,2,2,2,2,2,97,Cured
523507,2,2,51,2,2,2,2,2,2,Cured
523508,97,2,55,2,2,2,2,2,97,Cured
523509,97,2,28,2,2,2,2,2,97,Cured
523510,97,2,52,2,2,2,2,2,97,Cured

In [2]:
#Removing unknown values
for x in df.columns:
    df = df[df[x]!=97]
    df = df[df[x]!=98]
    df= df[df[x] != 99]
df['STATUS'] = df['STATUS'].apply(lambda x : x.replace('Cured', '1').replace('Died','0'))
df

,INTUBED,PNEUMONIA,AGE,DIABETES,ASTHMA,CARDIOVASCULAR,OBESITY,TOBACCO,ICU,STATUS
1,1,2,55,1,2,2,2,2,2,0
3,2,2,24,2,2,2,2,2,2,1
4,2,2,30,2,2,2,2,2,2,1
8,2,1,59,1,2,2,2,1,1,1
16,2,1,45,2,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...
523481,2,1,26,2,2,2,2,2,2,1
523484,2,2,64,1,2,2,2,2,2,1
523486,2,1,50,1,2,2,1,2,2,1
523495,2,2,65,1,2,2,2,2,2,1
523507,2,2,51,2,2,2,2,2,2,1

In [3]:
from sklearn.svm import SVC
model = SVC()

In [4]:
x = df[['INTUBED', 'PNEUMONIA', 'AGE', 'DIABETES', 'ASTHMA', 'CARDIOVASCULAR',
       'OBESITY', 'TOBACCO', 'ICU']]
y = df.STATUS

In [5]:
from sklearn.model_selection import train_test_split as ttt
X_train,X_test,y_train,y_test = ttt(x,y ,test_size = 0.2,  random_state = 42)

In [6]:
model.fit(X_train,y_train )

SVC()

In [7]:
model.score(X_test,y_test)

0.7307947459201274

73 % accurate